{% extends "base.html" %}

{% block blogactive %}
    class="active"
{% endblock %}

{% block leftsidebar %}
    <p>Posted: {{ post.created }}</p>
    <p><a href="/gedgo/blog/"><i class="fa fa-angle-double-left"></i> Back to the post list</a></p>

    {% if post.tagged_photos.exists %}
        <hr/>
        {% for photo in post.tagged_photos.all %}
          <a href="{{ photo.docfile.url }}">
            <img src="{{ photo.docfile.url }}" class="thumb sidebar-lead img-rounded">
          </a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <div class="body">{{ post.body|safe|linebreaks }}</div><br />
  {% if user.is_staff %}
      <a href="/admin/gedgo/blogpost/{{ post.id }}/"><span class="glyphicon glyphicon-pencil"></span> Edit this post</a>
  {% endif %}

  {% if post.tagged_people.exists %}
  <div class="section">
      <h3>People in this post:</h3>
      <div class="row">
      {% for somebody in post.tagged_people.all %}
        <div class="col-sm-6">
        {% include "person-card.html" %}
        </div>
      {% endfor %}
      </div>
      <hr />
  </div>
  {% endif %}

  <!-- Comments  -->
  <div class="section">
    {% include "comment_form.html" %}
  </div>

{% endblock %}
