{% extends "base.html" %}

{% block blogactive %}
    class="active"
{% endblock %}

{% block leftsidebar %}
  <h4>Archive</h4>
  {% for month in months %}
    <a href="/gedgo/blog/{{ month.0 }}/{{ month.1 }}/">{{ month.2 }} {{ month.0 }}</a> <br />
  {% endfor %}

  {% if user.is_staff %}
    <br /><br />
    <a href="/admin/gedgo/blogpost/add/"><span class="glyphicon glyphicon-plus"></span> Add new post</a>
  {% endif %}
{% endblock %}

{% block content %}
    <!-- Posts  -->
    {% if posts.object_list %}
        {% for post in posts.object_list %}
        <div class="pod">
            <a href="/gedgo/blog/post/{{ post.id }}"><h2>{{ post.title }}</h2></a>
            <div class="body">{{ post.body|linebreaks|truncatewords:200 }}</div>
            <div class="time">{{ post.created }}</div>
        </div>
        {% endfor %}
    {% else %}
        <div class="pod">
            No blog posts written yet.
        </div>
    {% endif %}
        
    <!-- Next/Prev page links  -->
    {% if posts.object_list and posts.paginator.num_pages > 1 %}
    <div class="section">
      <div style="text-align: center;">
        {% if posts.has_previous %}
            <a class="btn btn-default" href="?page={{ posts.previous_page_number }}"> &lt;&lt; newer entries </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}&nbsp;
        </span> {# post list #}

        {% if posts.has_next %}
            <a class="btn btn-default" href="?page={{ posts.next_page_number }}">older entries &gt;&gt; </a>
        {% endif %} 
      </div>
    </div>
  {% endif %}
{% endblock %}
