{% extends "base.html" %}


{% block leftsidebar %}
<div class="row">
{% for photo in gedcom.photo_sample %}
  <div class="col-lg-4 col-md-6" style="padding: 0 10px; padding-bottom: 10px">
  <a href="{% if photo.key_person_tag %}{{ photo.key_person_tag.pointer }}{% else %}/gedgo/document/{{ photo.id }}{% endif %}">
      <img src="/gedgo/media/gedcom/{{ photo.docfile.name }}?size=w128h128" class="sidebar-thumb img-rounded" onerror="this.onerror=null;this.src='{{ STATIC_URL }}/question.jpg';">
  </a>
</div>
{% endfor %}
</div>
{% endblock %}


{% block content %}
<h2 class="welcome">Welcome!</h2>

{% if gedcom.description %}
  {{ gedcom.description|safe|linebreaks }}
  <hr />
{% endif %}

{% if post %}
  <h3>Latest Blog Post</h3>
  <b><a href="/gedgo/blog/post/{{ post.id }}">{{ post.title }}</a></b><br>
  {{ post.body|safe|linebreaks|truncatewords:50 }}
  <p>
    <a href="/gedgo/blog/post/{{ post.id }}">Read more</a>, or see <a href="/gedgo/blog/">all posts</a>.
  </p>
  <hr />
{% endif %}

{% for family in gedcom.key_families.all %}
  <br />
  <h3>The {{ family.family_name }} Family</h3>
  <div class="row">
  {% for somebody in family.spouses %}
    <div class="col-sm-6">
      {% include "person-card.html" %}
    </div>
  {% endfor %}
  </div>
  <hr />
{% endfor %}


{% if gedcom.file_name or gedcom.last_update %}
  {% if gedcom.last_updated %}
    <div class="pod-title">Last Updated:</div>{{ gedcom.last_updated }}
  {% endif %}
  <br><br>
  {% if user.is_staff %}
    <a href="/admin/gedgo/gedcom/{{ gedcom.id }}/">Edit this page</a>
  {% endif %}
  <hr />
{% endif %}

{% include "comment_form.html" %}

{% endblock %}

