<div class="card row">
  <div class="col-xs-5">
    <a href="/gedgo/{{ somebody.gedcom.id }}/{{ somebody.pointer }}/">
        <img src="{% if somebody.photos %}/gedgo/media/gedcom/{{ somebody.key_photo.docfile.name }}?size=w128h128{% else %}{{ STATIC_URL }}img/generic_person.gif{% endif %}"
              class="thumb img-rounded" onerror="this.onerror=null;this.src='{{ STATIC_URL }}img/question.jpg';"></a>
  </div>
  <div class="card-content col-xs-7">
    <h4 class="card-title"><a href="/gedgo/{{ somebody.gedcom.id }}/{{ somebody.pointer }}/">{{ somebody.full_name }}</a></h4>
    ({{ somebody.year_range }})
  </div>
</div>
