{% extends "base.html" %}

{% block filesactive %}
    class = "active"
{% endblock %}

{% block leftsidebar %}
    <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
        {% for name, path in levels %}
            <li>
                <a href="/gedgo/research{{ path | urlencode }}">{{ name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% if can_search %}
    <hr>
    <form>
        <form class="navbar-form navbar-right" action="/gedgo/search/" method="get">
            <input type="text" class="form-control" name="rq" value="{% if rq %}{{ rq }}{% endif %}" placeholder="search this folder">
        </form>
        {% if rq %}<a href="/gedgo/research/{{ dirname | urlencode }}"><i class="fa fa-times"></i> clear</a>{% endif %}

    </form>
    {% endif %}
    <br />
{% endblock %}

{% block content %}

<div class="text-center">
    <h3>{{ file.name }}</h3>
    <div class="btn-group">
        <a class="btn btn-default" href="/gedgo/research/{{ dirname | urlencode }}?fn={{ prev_file.path | urlencode }}{% if rq %}&rq={{ rq }}{% endif %}">prev</a>
        <a class="btn btn-default" href="/gedgo/media/research/{{ dirname | urlencode }}/{{ file.path | urlencode }}">download</a>
        <a class="btn btn-default" href="/gedgo/research/{{ dirname | urlencode }}?fn={{ next_file.path | urlencode }}{% if rq %}&rq={{ rq }}{% endif %}">next</a>
    </div>
</div>
<br /><br />

{% if file.can_video %}
<video style="width: 100%" src="/gedgo/media/research/{{ dirname | urlencode }}/{{ file.path | urlencode }}" type="video/mp4" controls></video>
{% elif file.preview %}
<img style="max-width: 100%" class="center-block" src="/gedgo/media/research/{{ file.full_path | urlencode }}?size=w640h480">
{% else %}
    <br/>
    <div class="center-block text-center">
        <a href="/gedgo/media/research/{{ dirname | urlencode }}/{{ file.path | urlencode }}">
            <i class="fa fa-{{ file.type }} fa-2x"></i>
        </a>
        <br/>
        <br/>
        <p class="text-muted">This file cannot be previewed, but you can download it and view on your own computer.</p>
        <br/>
    </div>
{% endif %}

{% endblock %}
