{% extends "base.html" %}

{% block filesactive %}
    class = "active"
{% endblock %}

{% block leftsidebar %}
    <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
        {% for name, path in levels %}
            <li>
                <a {% if forloop.last %}style="color: #000"{% else %}href="/gedgo/research{{ path }}"{% endif %}>{{ name|truncatechars:20 }}/</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% if can_search %}
    <hr>
    <form>
        <form class="navbar-form navbar-right" action="/gedgo/search/" method="get">
            <input type="text" class="form-control" name="rq" value="{% if rquery %}{{ rquery }}{% endif %}" placeholder="search this folder">
        </form>
        {% if rquery %}<a href="/gedgo/research/{{ pathname }}"><i class="fa fa-times"></i> clear</a>{% endif %}

    </form>
    {% endif %}
    <br />
{% endblock %}

{% block content %}
{% if levels|length > 1 %}
  <a class="btn btn-info visible-xs" href=".">Up a level</a>
{% endif %}
<h3>{{ current_level }}</h3>
{% if directories %}
<ul class="list-group">
    {% for dir in directories %}
        <li class="list-group-item">
            <a href="/gedgo/research/{{ dir.path }}">
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <i class="fa fa-folder-open fa-2x"></i>
                    </div>
                    <div class="col-xs-10">
                        {{ dir.name|truncatechars:45 }}
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% if directories and files %}
<hr />
{% endif %}
{% if files %}
<ul class="list-group">
    {% for f in files %}
        <li class="list-group-item">
            <a href="/gedgo/research/{{ f.path }}">
                <div class="row">
                    <div class="col-xs-2 text-center">
                {% if f.preview %}<img class="center-block" src="/gedgo/research-preview/{{ f.path }}">
                {% else %}<i class="fa fa-{{ f.type }} fa-2x"></i>
                {% endif %}
                    </div>
                    <div class="col-xs-10">
                        {{ f.name|truncatechars:45 }}
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
