{% extends "base.html" %}

{% block content %}
<div class="section">
  <h2>{{ user.username }} Recent Activity</h2>
  <table class="table">
    <tr>
      <th>Page</th>
      <th>Time</th>
      <th>Address</th>
    </tr>
    {% for view in views %}
    <tr>
      <td><a href="{{ view.path }}">{{ view.path|truncatechars:28 }}</a></td>
      <td>{{ view.timestamp }}</td>
      <td><a href="http://ipinfo.io/{{ view.ip }}">{{ view.ip }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
