{% extends "base.html" %}

{% block content %}
<div class="section">
  <h2>Update a Gedcom</h2>
  <form action="/gedgo/dashboard/" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
      {% csrf_token %}
      <select class="form-control" name="gedcom_id">
        {% for ged in gedcoms %}
          <option value="{{ ged.id }}">{{ ged.title }}</option>
        {% endfor %}
      </select><br />
      <input type="file" name="gedcom_file">
      <p class="help-block">Select a Gedcom file to update from.</p>
      <input class="btn btn-danger" type="submit" value="Upload" />
  </form>
  <p>
    <br />
    After finishing the update, the website will send an email to the site owner indicating that the update is complete.
  </p><br />
</div>
<div class="section hidden-xs">
  <h2>Traffic Stats</h2>
  {% if total %}
    <div class="well">
      <h2>{{ total }} total page views</h2>
    </div><br />
  {% endif %}
  {% if user_views %}
    <h3>Recently Active Users</h3>
    <table class="table">
      <tr><td><b>Username</b></td><td><b>Page views</b></td></tr>
      {% for user, views in user_views %}
        <tr><td>{{ user }}</td><td>{{ views }}</td></tr>
      {% endfor %}
    </table><br />
  {% endif %}
  {% if views %}
    <h3>Recent Page Views</h3>
    <table class="table">
    {% for pg in views %}
      <tr>
        <td>{{ pg.username }}</td>
        <td>{{ pg.ip }}</td>
        <td>{{ pg.path }}</td>
        <td>{{ pg.time }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
</div>
{% endblock %}
