{% extends "base.html" %}

{% block docuactive %}
    class="active"
{% endblock %}

{% block leftsidebar %}
    {% if documentaries.exists %}
    <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
        {% for documentary in documentaries %}
            <li><a href="#{{ documentary.title|urlencode }}">{{ documentary.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <br />
{% endblock %}


{% block content %}
{% if documentaries.exists %}
    {% for documentary in documentaries.iterator %}
        <div class="media">
          <a class="pull-left" href="{{ documentary.location }}">
            <img class="documentary-thumb media-object" src="{{ MEDIA_URL }}{{ documentary.thumb }}">
          </a>
          <div class="media-body">
            <h4 class="media-heading" id="{{ documentary.title|urlencode }}">{{ documentary.title }}</h4>
            {{ documentary.description|linebreaks }}
            Last updated: {{ documentary.last_updated }}
          </div>
        </div>
    {% endfor %}
{% else %}
    <div class="pod">
        No documentaries yet.  Check back soon.
    </div>
{% endif %}
{% endblock %}

