{% extends "base.html" %}


{% block leftsidebar %}

{% for photo in family.photos %}
  <a href="{{ photo.docfile.url }}">
    <img src="{{ photo.thumb.url }}" class="sidebar-thumb img-rounded">
  </a>
{% endfor %}

{% endblock %}

{% block content %}

<div class="pod">
    <h2>The {{ family.family_name }} Family</h2>
</div>


<div class="section">
  <h3>Family members:</h3>

  <h4>Parents:</h4>
  <div class="row">
    {% for somebody in family.spouses %}
      <div class="col-xs-6">
        {% include "person-card.html" %}
      </div>
    {% endfor %}
  </div>
  
  <!-- Siblings -->
  {% if family.children.exists %}
    <hr>
    <h4>Children:</h4>
    <div class="row">
      {% for somebody in family.children.iterator %}
        <div class="col-xs-6">
          {% include "person-card.html" %}
        </div>
      {% endfor %}
  </div>
  {% endif %}
</div>


<!-- Marital Facts -->
<!-- TODO: FIX -->
{% if family.joined.date or family.joined.place or family.separated.date %}
<hr />
  {% if family.joined.date %}
    <strong>{% if family.kind = "MARR" %}Married{% else %}Domestic Partners{% endif %}:</strong> {{ family.joined.date_string }}{% if family.joined.date_approxQ %} (approximate){% endif %}{% endif %}{% if family.joined.place %}, {{ family.joined.place }}{% endif %}
  {% if family.separated.date %}
    <strong>{% if family.kind = "MARR" %}Divorced{% else %}Separated{% endif %}:</strong> {{ family.separated.date_string }} {% if family.separated.date_approxQ %}(approximate){% endif %}
    <br />
  {% endif %}
  {% if family.separated.place %}
    <strong>Place:</strong> {{ family.separated.place }}
    <br /><br />
  {% endif %}
<hr />
{% endif %}


{% if family.documentaries %}
<div class="pod">
    <div class="pod-title">Documentaries:</div>
    {% for doc in family.documentaries %}
        <a href="{{ doc.location }}">{{ doc.title }}</a><br>
    {% endfor %}
</div>
{% endif %}


{% if family.notes.exists %}
<div class="pod">
  <div class="pod-title">Notes:</div>
  {% for note in family.notes.iterator %}
    {{ note.text|linebreaks }}
  {% endfor %}
</div>
{% endif %}

<div class="pod">
  {% include "comment_form.html" %}
</div>

{% endblock %}