<div class="family-card">
    {% for somebody in family.husbands.all %}
        {{ somebody.last_name }}
        {% if not forloop.last %}
             - 
        {% endif %}
    {% endfor %}
    {% for somebody in family.wives.all %}
        {{ somebody.last_name }}
        {% if not forloop.last %}
             - 
        {% endif %}
    {% endfor %}<br>
    {% for somebody in family.husbands.all %}
        <a href="/gedgo/{{ gedcom.id }}/{{ somebody.pointer }}/"><img src="{{ MEDIA_URL }}thumbs/{% if somebody.photos %}{{ somebody.key_photo }}{% else %}generic_person.gif{% endif %}" height=50px width=50px></a>
    {% endfor %} - 
    {% for somebody in family.wives.all %}
        <a href="/gedgo/{{ gedcom.id }}/{{ somebody.pointer }}/"><img src="{{ MEDIA_URL }}thumbs/{% if somebody.photos %}{{ somebody.key_photo }}{% else %}generic_person.gif{% endif %}" height=50px width=50px></a>
    {% endfor %}
    <hr>
</div>