{% extends "base.html" %}

{% block filesactive %}
    class = "active"
{% endblock %}

{% block leftsidebar %}
    <div class="bs-sidebar hidden-print" role="complementary">
        <ul class="nav bs-sidenav">
        {% for name, path in levels %}
            <li>
                <a {% if forloop.last %}style="color: #000"{% else %}href="/gedgo/research{{ path }}"{% endif %}>{{ name|truncatechars:20 }}/</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <br />
{% endblock %}

{% block content %}
{% if levels|length > 1 %}
  <a class="btn btn-info visible-xs" href=".">Up a level</a>
{% endif %}
<h3>{{ current_level }}</h3>
<ul class="list-group">
    {% for type, name, path in contents %}
        <li class="list-group-item">
            <a href="/gedgo/research{{ path }}">
                <span class="glyphicon glyphicon-{{ type }}"></span> &nbsp; {{ name|truncatechars:45 }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
