/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #d5dce0;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  color: #537484;
}

.navbar {
  background-color: #538463 !important;
}
.navbar-nav li a {
  color: #fcfcfc !important;
}
.navbar-nav .dropdown .footlist a {
  color: #666 !important;
}
.navbar-nav .active a {
  background-color: #6e9b7d !important;
}
.navbar-nav .open .dropdown-toggle {
  background-color: #6e9b7d !important;
}

.navbar-brand {
  color: #fff !important;
}

.main-container {
  margin-top: 65px;
}

.main {
  margin: 5px;
  color: #666;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
}
.section {
  margin-top: 35px;
}
.sidebar-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}
.subsection-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
.photo-subsection {
  margin-right: 20px;
}
.sidebar-lead {
  min-width: 100%;
  margin-bottom: 10px;
}
.documentary-thumb {
  width: 120px;
  margin-bottom: 10px;
}
.thumb {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.research-file-item {
    min-height: 64px;
}

.comment-area {
  resize: none;
}
.card {
  margin-bottom: 5px;
}
.card-content {
  margin-left: -15px;
}
.card-title {
  margin-top: 5px;
  margin-bottom: 2px;
}
.welcome {
  text-align: center;
}
.help {
  font-size: 18px;
}

rect {
  fill: white;
  stroke: teal;
  stroke-width: 2;
}
path {
  fill: none;
  stroke: gray;
  stroke-width: 2;
}

.word-break {
    word-break: break-all;
}

#worker-section {
  min-height: 75px;

}

#worker-section p {
  margin-top: 5px;
}

#worker-status {
  width: 80px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
}

#worker-status span {
  margin-top: 10px;
}
