/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #abd1c6;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  text-rendering: optimizeLegibility;
  color: #001e1d;
}

a {
  color: #004643;
}
a:hover {
  color: #004643;
}

.navbar {
  background-color: #004643;
}
.navbar.navbar-inverse {
  border: none;
}
.navbar-nav li a {
  color: #fcfcfc !important;
}
.navbar-nav .dropdown .footlist a {
  color: #666 !important;
}

a.dropdown-toggle {
    margin-top: 3px;
    padding-bottom: 0;
}
.navbar-nav .open .dropdown-toggle,
.navbar-nav .active a {
  background-color: #004643 !important;
  color: #f9bc60 !important;
}
.btn-primary {
  border: none;
  background-color: #f9bc60 !important;
}

.navbar-brand {
  color: #fff !important;
  padding-bottom: 35px;
}

.main-container {
  margin-top: 65px;
}

.main-container > .row > div {
  padding: 0 5px;
}

.blog .time {
  color: #999;
}

.documentary,
.blog {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.documentary:first-child,
.blog:first-child {
    padding-top: 0;
}

.main {
  margin: 5px;
  color: #001e1d;
  background-color: #fffffe;
  padding: 20px;
  border-radius: 5px;
}
.section {
  margin-top: 35px;
}
.sidebar-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin-bottom: 10px;
  border: 1px solid #eee
}
.subsection-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
.photo-subsection {
  margin-right: 20px;
}
.sidebar-lead {
  min-width: 100%;
  margin-bottom: 10px;
}
.documentary-thumb {
  width: 120px;
  margin-bottom: 10px;
}
.thumb {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.research-file-item {
    min-height: 64px;
}

textarea.comment-area.form-control {
  resize: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border: none;
  background-color: #eee;
  border-bottom: 2px solid #004643;
}
textarea.comment-area.form-control:focus {
  background-color: #fffffe;
  border-top: 1px solid #004643;
  border-left: 1px solid #004643;
  border-right: 1px solid #004643;
}

.card {
  margin-bottom: 5px;
}
.card-content {
  margin-left: -15px;
}
.card-title {
  margin-top: 5px;
  margin-bottom: 2px;
}
.welcome {
  text-align: center;
}
.help {
  font-size: 18px;
}

rect {
  fill: white;
  stroke: #004643;
  stroke-width: 2;
}
path {
  fill: none;
  stroke: gray;
  stroke-width: 2;
}

.word-break {
    word-break: break-all;
}

#worker-section {
  min-height: 150px;
}

#worker-section p {
  margin-top: 5px;
}

#worker-status-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
}

#worker-status-icon span {
  margin-top: 10px;
}
