<!DOCTYPE html>
<html>
<title>{% if gedcom.title %}{{ gedcom.title }}{% else %}Ged-go!{% endif %}{% if person %} : {{ person.full_name }}{% endif %}</title>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/style.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.js""></script>
</head>
<body>
<div class="header-backing"></div>

<div class="container">
<div class="header">
<a href="/gedgo/">
	<h1 style="margin-bottom:0;">{% if gedcom.title %}{{ gedcom.title }}{% else %}Ged-go!{% endif %}</h1>
</a>

<a href="/gedgo/">About</a> 
{% if gedcom.showblog %}| 
<a href="/gedgo/blog/">Blog</a> 
{% endif %}
{% if gedcom.showdocumentaries %}| 
<a href="/gedgo/documentaries/">Documentaries</a>
{% endif %}

<div class="search">
	<form action="/gedgo/search/" method="get">
		search
		<input type="text" name="q" value="{{ query }}" size="30">
	</form>
</div>

</div>


<div class="sidebar">
{% block leftsidebar %}{% endblock %}
</div>

<div class="content">
{% block content %}{% endblock %}
<br></div>

<div class="foot-extender"></div>

</div>



<div class="footer">
Powered by ged-go.
</div>

</body>
</html>
