<!DOCTYPE html>
<html>
<title>{% if site_title %}{{ site_title }}{% else %}Ged-go!{% endif %}{% if person %} : {{ person.full_name }}{% endif %}</title>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/style.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.js""></script>
</head>
<body>
<div class="header-backing"></div>

<div class="container">
<div class="header">
<a href="/gedgo/">
	<h1 style="margin-bottom:0;">{% if site_title %}{{ site_title }}{% else %}Ged-go!{% endif %}</h1>
</a>

<a href="/gedgo/">About</a> 
{% if show_blog %}| 
<a href="/gedgo/blog/">Blog</a> 
{% endif %}
{% if show_documentaries %}| 
<a href="/gedgo/documentaries/">Documentaries</a>
{% endif %}
{% if show_researchfiles %}|
<a href="/gedgo/researchfiles/">Research Files</a>
{% endif %}
<div class="search">
	<form action="/gedgo/search/" method="get">
		search
		<input type="text" name="q" value="{{ query }}" size="30">
	</form>
</div>

</div>

<div class="content-container">
	<div class="sidebar">
	{% block leftsidebar %}{% endblock %}
	</div>

	<div class="content">
	{% block content %}{% endblock %}
	<br></div>
</div>

<div class="foot-extender"></div>

</div>



<div class="footer">
<!-- TODO: fix permanent link colors -->
<a style="color:#FFFFFA" href="http://github.com/gthole/gedgo/">
Powered by ged-go</a>{% if user.is_active %} | <a style="color:#FFFFFA" href="/gedgo/logout/">log out</a> {% if user.is_staff %} | 
<a style="color:#FFFFFA" href="/admin/">admin panel</a>{% endif %}{% endif %}
</div>

</body>
</html>
