{% extends "gedgo/base.html" %}

{% block leftsidebar %}
	<div class="sidebar-title">Archive</div>
	{% for month in months %}
		<a href="/gedgo/{{ gedcom.id }}/blog/{{ month.0 }}/{{ month.1 }}/">{{ month.2 }} {{ month.0 }}</a> <br />
	{% endfor %}
{% endblock %}

{% block content %}
    	<!-- Posts  -->
    	{% if posts.object_list %}
            {% for post in posts.object_list %}
            <div class="pod">
                <a href="/gedgo/{{ gedcom.id }}/blog/post/{{ post.id }}"><h2>{{ post.title }}</h2></a>
                <div class="body">{{ post.body|linebreaks|truncatewords:200 }}</div>
                <div class="time">{{ post.created }}</div>
            </div>
            {% endfor %}
        {% else %}
        	<div class="pod">
        		No blog posts written yet.
        	</div>
        {% endif %}
        
        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
{% endblock %}