{% extends "gedgo/base.html" %}

{% block leftsidebar %}
{% if post.tagged_photos.all %}
	{% for photo in post.tagged_photos.all %}
		<a href="{{ photo.docfile.url }}">
			<img src="{{ photo.docfile.url }}" height=100px width=100px border=1>
		</a>
	{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<div class="pod">
<h2>{{ post.title }}</h2>
    <div class="body">{{ post.body|safe|linebreaks }}</div>
</div>

<div class="pod">
    Posted: {{ post.created }}<br>
    <a href="../">Back to the post list</a><br>
    <a href="/gedgo/">Main site</a>  
</div>

{% if post.tagged_people.all %}
<div class="pod">
    People in this post:<br>
    {% for somebody in post.tagged_people.all %}
    	
	    	{% include "gedgo/person-card.html" %}
	    	
    	{% if forloop.last %}{% else %}<hr>{% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- Comments  -->
<div class="pod">
	{% include "gedgo/comment_form.html" %}
</div>

{% endblock %}