{% extends "gedgo/base.html" %}


{% block leftsidebar %}
{% for photo in gedcom.photo_sample %}
	<a href="{% if photo.key_person_tag %}/gedgo/{{ gedcom.id }}/{{ photo.key_person_tag.pointer }}{% else %}{{ MEDIA_URL }}{{ photo.name }}{% endif %}">
		<img src="{{ MEDIA_URL }}thumbs/{{ photo.name }}" height=100px width=100px border=1>
	</a>
{% endfor %}
{% endblock %}


{% block content %}
{% if documentaries.all %}
	{% for documentary in documentaries.all %}
		<div class="pod">
			<div class="pod-title">{{ documentary.title }}</div><br>
			<a href="{{ MEDIA_URL }}{{ documentary.location }}"><img src="{{ MEDIA_URL }}{{ documentary.thumb }}" width=460></a>
			<hr>
			{{ documentary.description|linebreaks }}
			Last updated: {{ documentary.last_updated }}
		</div>
	{% endfor %}
{% else %}
	<div class="pod">
		No documentaries yet.  Check back soon.
	</div>
{% endif %}
{% endblock %}

