{% extends "base.html" %}


{% block leftsidebar %}

{% for photo in family.photos %}
	<a href="{{ photo.docfile.url }}">
		<img src="{{ photo.thumb.url }}" height=100px width=100px border=1>
	</a>
{% endfor %}

{% endblock %}

{% block content %}

<div class="pod">
	<h2>The {{ family.family_name }} Family</h2>
</div>


<div class="pod">
	<div class="pod-title">Family members:</div>
	<!-- Fathers -->
	{% for somebody in family.husbands.all %}
		<div class="subpod-title">Husband:</div>
		{% include "gedgo/person-card.html" %}
	{% endfor %}
	
	<!-- Mothers -->
	{% for somebody in family.wives.all %}
		<hr>
		<div class="subpod-title">Wife:</div>
		{% include "gedgo/person-card.html" %}
	{% endfor %}
	
	<!-- Siblings -->
	{% if family.children.all %}
		<hr>
		<div class="subpod-title">Children:</div>
		{% for somebody in family.children.all %}
			{% if not somebody == person %}
				{% include "gedgo/person-card.html" %}
			{% endif %}
		{% endfor %}
	{% endif %}
</div>


{% if family.joined.date or family.joined.place or family.separated.date %}
<div class="pod">
	<div class="pod-title">Details:</div>
	<table>
		{% if family.joined.date %}
			<tr>
				<td><div class="subpod-title">{% family.kind = "MARR" %}Married{% else %}Domestic Partners{% endif %}: </div></td>
				<td> {{ family.joined.date_string }} {% if family.joined.date_approxQ %}(approximate){% endif %}</td>
			</tr>
		{% endif %}
		{% if family.joined.place %}
			<tr>
				<td><div class="subpod-title">Place: </div></td>
				<td> {{ family.joined.place }} </td>
			</tr>
		{% endif %}
		{% if family.separated.date %}
			<tr>
				<td><div class="subpod-title">{% family.kind = "MARR" %}Divorced{% else %}Separated{% endif %}: </div></td>
				<td> {{ family.separated.date_string }} {% if family.separated.date_approxQ %}(approximate){% endif %}</td>
			</tr>
		{% endif %}
		{% if family.separated.place %}
			<tr>
				<td><div class="subpod-title">Place: </div></td>
				<td> {{ family.separated.place }} </td>
			</tr>
		{% endif %}
	</table>
</div>
{% endif %}


{% if family.documentaries %}
<div class="pod">
	<div class="pod-title">Documentaries:</div>
	{% for doc in family.documentaries %}
		<a href="{{ doc.location }}">{{ doc.title }}</a><br>
	{% endfor %}
</div>
{% endif %}


{% if family.notes.all %}
<div class="pod">
	<div class="pod-title">Notes:</div>
	{% for note in family.notes.all %}
		{{ note.text|linebreaks }}
	{% endfor %}
</div>
{% endif %}

<div class="pod">
	{% include "gedgo/comment_form.html" %}
</div>

{% endblock %}