{% extends "gedgo/base.html" %}


{% block leftsidebar %}
{% for photo in gedcom.photo_sample %}
	<a href="{% if photo.key_person_tag %}{{ photo.key_person_tag.pointer }}{% else %}{{ photo.docfile.url }}{% endif %}">
		<img src="{{ MEDIA_URL }}{{ photo.thumb }}" height=100px width=100px border=1>
	</a>
{% endfor %}
{% endblock %}


{% block content %}
<div class="pod">
	<h2 style="text-align:center;">Welcome!&nbsp;&nbsp;&nbsp;&nbsp;</h2>
</div>

{% if gedcom.description %}
	<div class="pod">
	{{ gedcom.description|safe|linebreaks }}
	</div>
{% endif %}

{% for family in gedcom.key_families.all %}
<div class="pod">
	<!-- Spouses -->
	{% for somebody in family.husbands.all %}
		{% include "gedgo/person-card.html" %}
	{% endfor %}
	<hr>
	{% for somebody in family.wives.all %}
		{% include "gedgo/person-card.html" %}
	{% endfor %}
</div>
{% endfor %}

{% if post %}
	<div class="pod">
		<b><a href="../{{ gedcom.id }}/blog/{{ post.id }}">{{ post.title }}</a></b><br>
		{{ post.body|safe|linebreaks|truncatewords:50 }}
		<br><br>
		<a href="../{{ gedcom.id }}/blog/{{ post.id }}">Read more</a>, or see <a href="../{{ gedcom.id }}/blog/">all posts</a>.
	</div>
{% endif %}

{% if gedcom.file_name or gedcom.last_update %}
<div class="pod">
	<table>
	{% if gedcom.file_name %}<tr><td><div class="pod-title">From File: </div></td><td> {{ gedcom.file_name }}</td></tr>{% endif %}
	{% if gedcom.last_updated %}<tr><td><div class="pod-title">Last Updated: </div></td><td> {{ gedcom.last_updated }} </td></tr>{% endif %}
	</table>
</div>
{% endif %}


<div class="pod">
	{% include "gedgo/comment_form.html" %}
</div>

{% endblock %}

