{% extends "base.html" %}


{% block leftsidebar %}
{% for photo in person.photos %}
	{% if not photo == person.key_photo %}
	<a href="{{ photo.docfile.url }}">
		<img src="{{ photo.thumb.url }}" height=100px width=100px border=1>
	</a>
	{% endif %}
{% endfor %}
{% endblock %}




{% block content %}
<div class="pod">
<table>
	<tr>
		<td>
		<div style="width: 115px; height: 115px; overflow: hidden">
			<a href="{{ MEDIA_URL }}{% if person.photos %}{{ person.key_photo }}{% else %}generic_person.gif{% endif %}">	
				<img src="{{ MEDIA_URL }}thumbs/{% if person.photos %}{{ person.key_photo }}{% else %}generic_person.gif{% endif %}" height=115 width=115>
			</a>
		</div>
		</td>
		<td><h2>{{ person.full_name }}</h2><h3>({{ person.year_range }})</h3></td>
	</tr>
</table>
</div>

<!-- H-line -->

<!-- Basic information pod -->
{% if person.birth or person.death or person.education or person.religion %}
<div class="pod">
	<div class="pod-title">Biographical Information:</div>
	{% if person.birth or person.death %}
	<table>
		{% if person.birth.date %}<tr><td><div class="subpod-title">Born: </div></td><td> {{ person.birth.date_string }} {% if person.birth.date_approxQ %}(approximate){% endif %}</td></tr>{% endif %}
		{% if person.birth.place %}<tr><td><div class="subpod-title">Birthplace: </div></td><td> {{ person.birth.place }} </td></tr>{% endif %}
		{% if person.death.date %}<tr><td><div class="subpod-title">Died: </div></td><td> {{ person.death.date_string }} {% if person.death.date_approxQ %}(approximate){% endif %}</td></tr>{% endif %}
		{% if person.death.place %}<tr><td><div class="subpod-title">Deathplace: </div></td><td> {{ person.death.place }} </td></tr>{% endif %}
	</table>
	{% endif %}
	{% if person.birth and person.education or person.birth and person.religion %}
	<hr>
	{% endif %}
	{% if person.education or person.religion %}
	<table>
		{% if person.education %}<tr><td><div class="subpod-title">Education: </div></td><td> {{ person.education_delimited|linebreaksbr }}</td></tr>{% endif %}
		{% if person.religion %}<tr><td><div class="subpod-title">Religion: </div></td><td> {{ person.religion }} </td></tr>{% endif %}
	</table>
	{% endif %}
</div>
{% endif %}

<!-- Families -->
{% if person.child_family %}
<div class="pod">
	<div class="pod-title"><a href="/gedgo/{{ gedcom.id }}/{{ person.child_family.pointer }}">Born to:</a></div>
	<!-- Fathers -->
	{% for somebody in person.child_family.husbands.all %}
		<div class="subpod-title">Father:</div>
		{% include "gedgo/person-card.html" %}
	{% endfor %}
	
	<!-- Mothers -->
	{% for somebody in person.child_family.wives.all %}
		<hr>
		<div class="subpod-title">Mother:</div>
		{% include "gedgo/person-card.html" %}
	{% endfor %}
	
	<!-- Siblings -->
	{% if person.child_family.children.all and not person.child_family.single_child == person %}
		<hr>
		<div class="subpod-title">Siblings:</div>
		{% for somebody in person.child_family.children.all %}
			{% if not somebody == person %}
				{% include "gedgo/person-card.html" %}
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
{% endif %}

{% for family in person.spousal_families.all %}
<div class="pod">
	<div class="pod-title"><a href="/gedgo/{{ gedcom.id }}/{{ family.pointer }}">Spousal family:</a></div>
	<!-- Spouses -->
	{% for somebody in family.husbands.all %}
		{% if not somebody == person %}
			<div class="subpod-title">Husband:</div>
			{% include "gedgo/person-card.html" %}
		{% endif %}
	{% endfor %}
	
	{% for somebody in family.wives.all %}
		{% if not somebody == person %}
			<div class="subpod-title">Wife:</div>
			{% include "gedgo/person-card.html" %}
		{% endif %}
	{% endfor %}
	
	<!-- Marital Facts -->
	{% if family.joined.date or family.joined.place or family.separated.date %}
	<div class="pod">
		<div class="pod-title">Details:</div>
		<table>
			{% if family.joined.date %}
				<tr>
					<td><div class="subpod-title">{% family.kind = "MARR" %}Married{% else %}Domestic Partners{% endif %}: </div></td>
					<td> {{ family.joined.date_string }} {% if family.joined.date_approxQ %}(approximate){% endif %}</td>
				</tr>
			{% endif %}
			{% if family.joined.place %}
				<tr>
					<td><div class="subpod-title">Place: </div></td>
					<td> {{ family.joined.place }} </td>
				</tr>
			{% endif %}
			{% if family.separated.date %}
				<tr>
					<td><div class="subpod-title">{% family.kind = "MARR" %}Divorced{% else %}Separated{% endif %}: </div></td>
					<td> {{ family.separated.date_string }} {% if family.separated.date_approxQ %}(approximate){% endif %}</td>
				</tr>
			{% endif %}
			{% if family.separated.place %}
				<tr>
					<td><div class="subpod-title">Place: </div></td>
					<td> {{ family.separated.place }} </td>
				</tr>
			{% endif %}
		</table>
	</div>
	{% endif %}
	
	<!-- Children -->
	{% if family.children.all %}
		<hr>
		<div class="subpod-title">Children:</div>
		{% for somebody in family.children.all %}
			{% include "gedgo/person-card.html" %}
		{% endfor %}
	{% endif %}
</div>
{% endfor %}

{% if posts.all %}
<div class="pod">
	<div class="pod-title">Related blog posts:</div>
	{% for post in posts.all %}
	<a href="/gedgo/{{ gedcom.id }}/blog/post/{{ post.id }}">{{ post.title }}</a>&nbsp; ({{ post.created }})<br>
	{% endfor %}
</div>
{% endif %}

{% if person.documentaries %}
<div class="pod">
	<div class="pod-title">Documentaries:</div>
	{% for doc in person.documentaries %}
		<a href="{{ doc.location }}">{{ doc.title }}</a><br>
	{% endfor %}
</div>
{% endif %}

{% if person.notes.all %}
<div class="pod">
	<div class="pod-title">Notes:</div>
	{% for note in person.notes.all %}
		{{ note.text|linebreaks }}
	{% endfor %}
</div>
{% endif %}

{% if person.documents %}
<div class="pod">
	<div class="pod-title">Documents:</div>
	{% for doc in person.documents %}
		<a href="{{ doc.docfile.url }}">{{ doc.docfile.name }}</a><br>
	{% endfor %}
</div>
{% endif %}


{% if events %}
<div class="pod">
	<div class="pod-title">Timeline:</div>
	{% include "gedgo/person-timeline.html" %}
</div>
{% endif %}

{% if person.child_family %}
<div class="pod">
	<div class="pod-title">Pedigree Chart:</div>
	{% include "gedgo/person-pedigree.html" %}
</div>
{% endif %}

<div class="pod">
	{% include "gedgo/comment_form.html" %}
</div>

{%endblock %}

