{% extends "auth/base.html" %}

{% block content %}
  <div class="container">
    {% if messages %}
      {% for message in messages %}
      <br />
      <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
    <div class="pod">
      <form class="form-signin" role="form" method="post" action="/login/">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please log in</h2>
        <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <!-- Button trigger modal -->
        <button class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#resetModal" type=button>
          Forgot password?
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

  <!-- Password reset modal -->
  <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Reset your password</h4>
        </div>
        <div class="modal-body">
          <form role="form" method="post" action="/gedgo/password_reset/">
            {% csrf_token %}
            <p>This will send you an email with a link to finish resetting your password</p>
            <input type="username" name="email" class="form-control" placeholder="Email address" required autofocus>
            <br />
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}