<!DOCTYPE html>
<html>
  <head>
    <title>{% if site_title %}{{ site_title }}{% else %}Ged-go!{% endif %}{% if person %} : {{ person.full_name }}{% endif %}</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.js"></script>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}styles/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}styles/style-default.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <div class="wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/gedgo/">{% if site_title %}{{ site_title }}{% else %}Ged-go!{% endif %}</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                {% if show_blog %}<li {% block blogactive %}{% endblock %}><a href="/gedgo/blog/">Blog</a></li>{% endif %}
                {% if show_documentaries %}<li {% block docuactive %}{% endblock %}><a href="/gedgo/documentaries/">Documentaries</a></li>{% endif %}
                {% if show_researchfiles %}<li {% block filesactive %}{% endblock %}><a href="/gedgo/researchfiles/">Research Files</a></li>{% endif %}
              </ul>
            <div class="search">
              <form action="/gedgo/search/" method="get">
                <input type="text" name="q" value="{% if query %}{{ query }}{% else %}search{% endif %}"  onfocus="if (this.value=='search') this.value='';" >
              </form>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="pod">
              {% block leftsidebar %}{% endblock %}
            </div>
          </div>
          <div class="span8">
            {% block content %}{% endblock %}<br>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <ul>
          <li class="footlist"><a href="http://github.com/gthole/gedgo/">Powered by Ged-go</a></li>
          {% if user.is_active %}
            <li class="footlist"><a href="/gedgo/logout/">Log out</a></li>
            {% if user.is_staff %}
              <li class="footlist"><a href="/admin/">Admin panel</a></li>
              <li class="footlist"><a href="/gedgo/media/docs.html">Documentation</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </body>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</html>