/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #7EB5D6;
}

.navbar-brand {
  color: #fff !important;
}
.container {
  max-width: 780px;
}

.main {
  max-width: 750px;
  padding-top: 65px;
  background-color: #FFFBFF;
  border-style: solid;
  border-color: #6E6E6E;
  border-width: 1px;
}
.section {
  margin-top: 40px;
}
.sidebar-thumb {
  width: 105px;
  margin-bottom: 10px;
}
.subsection-thumb {
  width: 90px;
  margin-bottom: 10px;
}
.photo-subsection {
  margin-right: 20px;
}
.sidebar-lead {
  width: 210px;
  margin-bottom: 10px;
}
.documentary-thumb {
  width: 120px;
  margin-bottom: 10px;
}
.thumb {
  width: 100%;
  margin-bottom: 10px;
}
.comment-area {
  resize: none;
}
.card {
  margin-bottom: 5px;
}
.card-title {
  margin-top: 5px;
  margin-bottom: 2px;
}
.welcome {
  text-align: center;
}

rect {
  fill: white;
  stroke: teal;
  stroke-width: 2;
}
path {
  fill: none;
  stroke: gray;
  stroke-width: 2;
}