body {
	background-color:#7EB5D6;
	font-family: Baskerville, serif;
}
.container {
	background-color:#DFC184;
	margin-left:auto;
	margin-right:auto;
	width:778px;
}
.header {
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 25px;
	background-color:#274257;
	color: #FFFFFA;
}
.search {
	float:right;
	background-color:#274257;
	padding-bottom: 5px;
	padding-right: 10px;
	color: #FFFFFA;
}
.navbar {
	float:right;
	background-color:#274257;
	padding-top: 7px;
	padding-right: 10px;
	color: #FFFFFA;
}
.sidebar {
	margin-left:20px;
	margin-top:20px;
	background-color:#DFC184;
	width:228px;
	float:left;
}
.content {
	background-color:#EEEEEE;
	width:500px;
	float:left;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	background-image:url(https://raw.github.com/gthole/gedgo/master/static/styles/gray_jean.png);
}
.pod {
	background-color:#FFFFFA;
	border-radius: 15px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-right: 5px;
}
.pod-title {
	font-weight: bold;
	margin-bottom: 5px;
}
.sidebar-title {
	font-weight: bold;
}
.foot-extender {
	clear:both;
	height:0px;
	width:778px;
}
.footer {
	background-color:#274257;
	color:#FFFFFA;
	clear:both;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top: 2px;
	padding-bottom: 6px;
	width:778px;
}
h1 {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	color:#FFFFFA;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 10px;
	text-shadow: 1px 1px 1px #ccc;
}
hr {
	color: #EEEEEE;
}
a {
	color:#274257;
	text-decoration: none;
}
.content a:link {
	color:#274257;
}
.content a:visited {
	color:#274257;
}
.content a:hover {
	color:#FFA540;
}
.content a:active {
	color:#FFA540;
}
.header a {
	color:#FFFFFA;
	padding-left: 5px;
	padding-right: 5px;
}
.leftsidebar {
	color:#274257;
}
td {
	padding-right: 5px;
}
input {
	color: #888888;
	background-color: #FFFFFA;
	border-radius: 3px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
form {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
ul { 
	margin: 0;
	padding:0;
	list-style:none;
	display: inline; 
	margin: 0; 
}
textarea {
	color: #888888;
	border-radius: 3px;
	resize:none;
}
label {
	font-weight:normal;
}
.card {
	padding-right: 15px;
}
.card-title {
	font-weight: bold;
}
.subpod-title {
	font-style: italic;
	color: #989898;
	margin-bottom: 5px;
}
.family-card {
	float: center;
}
rect {
	fill: white;
	stroke: orange;
	stroke-width: 2;
}
path {
	fill: none;
	stroke: gray;
	stroke-width: 2;
}