body {
	background-color:#F9F9F9;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	margin:0px;
}
.container {
	background-color:#FFFFFA;
	margin-left:auto;
	margin-right:auto;
	width:800px;
}
.header {
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	background-color:teal;
	color: #FFFFFA;
}
.search {
	float:right;
	padding-bottom: 5px;
	padding-right: 10px;
	color: #FFFFFA;
}
.navbar {
	float:right;
	padding-top: 7px;
	padding-right: 10px;
	color: #FFFFFA;
}
.sidebar {
	margin-right:10px;
	margin-top:50px;
	background-color:#FFFFFA;
	width:228px;
	float:right;
}
.content {
	background-color:#FFFFFA;
	width:522px;
	float:left;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
}
.pod {
	background-color:#FFFFFF;
	border-color:#F9F9F9;
	border-style:solid;
	border-width:3px;
	border-radius: 15px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-right: 5px;
}
.pod-title {
	font-weight: bold;
}
.footer {
	background-color:teal;
	color:#FFFFFA;
	clear:both;
	text-align:center;
	padding-top: 2px;
	padding-bottom: 6px;
}
h1 {
	font-family:Georgia;
	color:#FFFFFA;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 10px;
	font-size:14px;
}
hr {
  color: #EEEEEE;
}
a {
	color:#274257;
	text-decoration: none;
}
.content a:link {
	color:#274257;
}
.content a:visited {
	color:#274257;
}
.content a:hover {
	color:#FFA540;
}
.content a:active {
	color:#FFA540;
}
.header a {
	color:#FFFFFA;
	font-size:12px;
	padding-left: 5px;
	padding-right: 5px;
}
.leftsidebar {
	color:#274257;
}
td {
	padding-right: 5px;
}
input {
	color: #888888;
	background-color: #FFFFFA;
	border-radius: 3px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
form {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
ul { 
	margin: 0;
	padding:0;
	list-style:none;
	display: inline; 
	margin: 0; 
}
textarea {
	color: #888888;
	border-radius: 3px;
	resize:none;
}
label {
	font-weight:normal;
}
.card {
	padding-right: 15px;
}
.card-title {
	font-weight: bold;
}
.family-card {
	float: center;
}