{% extends "auth/base.html" %}

{% block content %}
  <div class="pod">
    {% if validlink %}
      <form class="form-signin" action="" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">New password</h2>
        <p>Please enter it twice so we can verify you typed it correctly.</p>
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
        <input type="password" name="new_password1" class="form-control" placeholder="New password" required autofocus>
        <input type="password" name="new_password2" class="form-control" placeholder="Confirm password" required>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Change Password</button>
      </form>
    {% else %}
      <h2>Password reset unsuccessful</h2>
      <p>The password reset link was invalid, <br />
      possibly because it has already been used. <br />
      Please request a new password reset.</p>
    {% endif %}
  </div>
{% endblock %}
